# SPDX-License-Identifier: BSD-2-Clause
#
# Copyright 2019 Heinrich Schuchardt <xypron.glpk@gmx.de>

[Unit]
Description=Waveshare RPi Relay/Expansion Board

[Service]
Type=oneshot
ExecStart=/usr/bin/relay-card init
RemainAfterExit=true

ExecStop=/usr/bin/relay-card init

[Install]
WantedBy=multi-user.target
